n8n/agente-vendedor-atendente.json
{
  "name": "Arkai — Agente Vendedor & Atendente (WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "arkai-wpp",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Webhook (Evolution)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "arkai-wpp"
    },
    {
      "parameters": {
        "jsCode": "// ===================== EDITE AQUI =====================\nconst CONFIG = {\n  evoUrl: 'https://SUA-EVOLUTION-API',                 // base URL da sua Evolution API (sem barra no fim)\n  evoInstance: 'arkai',                                // nome da instância na Evolution\n  evoApiKey: 'COLE_SUA_APIKEY',                        // apikey da Evolution\n  renanNumber: '5521979610875',                        // WhatsApp do Renan para handoff (só números)\n  leadWebhook: 'https://nwook.futurosolaroficial.cloud/webhook/Arkai - Leads - Site',\n  bookingUrl: 'https://calendly.com/arkaisolutions',\n};\n// =====================================================\n\nconst b = $input.first().json.body || $input.first().json;\nconst data = (b && b.data) || {};\nconst key = data.key || {};\nconst remoteJid = key.remoteJid || '';\nconst fromMe = key.fromMe || false;\nconst isGroup = remoteJid.endsWith('@g.us');\nconst msg = data.message || {};\nconst text = msg.conversation\n  || (msg.extendedTextMessage && msg.extendedTextMessage.text)\n  || (msg.imageMessage && msg.imageMessage.caption)\n  || '';\n\n// Ignora mensagens próprias, de grupos e vazias\nif (fromMe || isGroup || !text) { return []; }\n\n// Detecta intenção de lead quente (handoff para o Renan)\nconst hot = /(pre[çc]o|valor|quanto custa|proposta|contrato|fechar|come[çc]ar|contratar|falar com|humano|atendente)/i.test(text);\n\nreturn [{ json: { ...CONFIG, number: remoteJid, name: data.pushName || '', text, hot } }];"
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "📥 Normalizar + Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Você é a \"Ari\", atendente e consultora de vendas da Arkai Solutions, falando pelo WhatsApp. Sua missão: atender quem chama, entender a dor do negócio da pessoa, mostrar como a Arkai resolve isso, e então AGENDAR um diagnóstico gratuito (link: https://calendly.com/arkaisolutions) OU conectar a pessoa com o Renan (fundador).\n\nTOM: brasileiro, consultivo, direto e humano. Frases curtas. UMA pergunta por vez. Trate pelo primeiro nome. No máximo 1 emoji por mensagem. Nunca soe robótica. Se receber áudio ou foto, considere o conteúdo.\n\nO QUE A ARKAI FAZ: monta uma operação de vendas e atendimento com 14 agentes de IA que rodam 24/7 (qualificam leads, vendem, agendam, cobram, geram relatório) pelo custo de 1 funcionário CLT.\n\nFATOS (não invente nada além disto):\n- Oferta de lançamento: R$ 2.500/mês = custo de 1 CLT no salário mínimo + encargos, mas com 14 especialistas 24/7.\n- Restam 7 de 10 vagas da primeira leva; depois das 10, o preço volta a $997/mês (~R$ 5.400).\n- Implantação completa em até 30 dias (config -> treinamento -> go-live).\n- Incluso: 14 agentes treinados, WhatsApp via Evolution API, conexão com o CRM (ou criamos um básico em Notion/Airtable sem custo), treinamento com o conteúdo e tom de voz do cliente, infra n8n inclusa, dashboard de KPIs no WhatsApp, suporte e otimizações, onboarding completo.\n- Cases: automotivo, autopeças, solar, hotelaria, imobiliário, estética. Outro nicho = vira primeiro case com prioridade.\n\nFLUXO: 1) Cumprimente pelo nome e pergunte como pode ajudar. 2) Descubra ao longo da conversa: negócio/nicho, maior dor, leads por mês, canal principal, se já usa CRM. 3) Conecte a dor à solução com a âncora \"R$ 2.500/mês = 1 CLT, mas 14 agentes 24/7\". 4) Responda objeções com os fatos. Em preço, reforce a âncora e as 7 vagas. 5) Feche oferecendo o diagnóstico gratuito (compartilhe o link do Calendly) OU conectando com o Renan.\n\nHANDOFF: quando a pessoa pedir preço/proposta/contrato, quiser começar/fechar, ou pedir falar com humano, diga que vai conectar com o Renan agora (a equipe é avisada automaticamente).\n\nNUNCA: invente preço/prazo/integração; prometa resultado garantido em números; fale de concorrentes; ofereça \"desenvolvimento de software sob encomenda\"; dê consultoria técnica gratuita (n8n/prompts) — isso é o produto. Em dúvida fora destes fatos, ofereça o diagnóstico ou o Renan. Questões de contrato/nota fiscal -> encaminhe ao Renan."
        }
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "🤖 Agente Ari",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [520, 180]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Modelo (OpenAI) — trocar p/ Anthropic se for Claude",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [400, 420]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('📥 Normalizar + Config').item.json.number }}",
        "contextWindowLength": 12
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Memória por contato",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [560, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('📥 Normalizar + Config').item.json.evoUrl }}/message/sendText/{{ $('📥 Normalizar + Config').item.json.evoInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('📥 Normalizar + Config').item.json.evoApiKey }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "number", "value": "={{ $('📥 Normalizar + Config').item.json.number }}" },
            { "name": "text", "value": "={{ $json.output }}" }
          ]
        },
        "options": {}
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "📤 Responder no WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-hot",
              "leftValue": "={{ $json.hot }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "🔥 Lead quente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [520, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.evoUrl }}/message/sendText/{{ $json.evoInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $json.evoApiKey }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "number", "value": "={{ $json.renanNumber }}" },
            { "name": "text", "value": "={{ '🔥 Lead quente na Arkai\\n\\nNome: ' + $json.name + '\\nWhatsApp: ' + $json.number + '\\nMensagem: ' + $json.text }}" }
          ]
        },
        "options": {}
      },
      "id": "88888888-8888-8888-8888-888888888888",
      "name": "📣 Avisar Renan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.leadWebhook }}",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "origem", "value": "agente-whatsapp" },
            { "name": "number", "value": "={{ $json.number }}" },
            { "name": "name", "value": "={{ $json.name }}" },
            { "name": "mensagem", "value": "={{ $json.text }}" },
            { "name": "hot", "value": "={{ $json.hot }}" }
          ]
        },
        "options": {}
      },
      "id": "99999999-9999-9999-9999-999999999999",
      "name": "🗂️ Registrar lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 620]
    }
  ],
  "connections": {
    "Webhook (Evolution)": {
      "main": [[{ "node": "📥 Normalizar + Config", "type": "main", "index": 0 }]]
    },
    "📥 Normalizar + Config": {
      "main": [[
        { "node": "🤖 Agente Ari", "type": "main", "index": 0 },
        { "node": "🔥 Lead quente?", "type": "main", "index": 0 },
        { "node": "🗂️ Registrar lead", "type": "main", "index": 0 }
      ]]
    },
    "🤖 Agente Ari": {
      "main": [[{ "node": "📤 Responder no WhatsApp", "type": "main", "index": 0 }]]
    },
    "🔥 Lead quente?": {
      "main": [[{ "node": "📣 Avisar Renan", "type": "main", "index": 0 }]]
    },
    "Modelo (OpenAI) — trocar p/ Anthropic se for Claude": {
      "ai_languageModel": [[{ "node": "🤖 Agente Ari", "type": "ai_languageModel", "index": 0 }]]
    },
    "Memória por contato": {
      "ai_memory": [[{ "node": "🤖 Agente Ari", "type": "ai_memory", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
